	<!-- taps -->
	<meta charset="utf-8">
	<ul class="nav nav-tabs col-sm-11 col-xs-12">
  		<li class="blogTap" data-index=0><a href='javascript:'>newest</a></li>
  		<li class="blogTap" data-index=1><a href='javascript:'>oldest</a></li>
 		<li class="blogTap" data-index=2><a href='javascript:'>view</a></li>
 		<li class="blogTap" data-index=3><a href='javascript:'>vote</a></li>
 		<li class="blogTap" data-index=4><a href='javascript:'>answer</a></li>
	</ul>
