<% layout('../layout.ejs') -%>


<meta charset="utf-8">
<div class="container col-sm-7 col-sm-offset-2">
	<% 	var scriptletUtil = blog.scriptletUtil
		var loginUser = blog.loginUser
		  , categories = blog.categories
	%>

	<div class="row">
			<a href="#"><%=loginUser.name %></a>
			<img src='<%=loginUser.photo %>' alt='img' style="width:70px;padding:10px 0 0 0">
	</div>
	<hr>
	<form  id='categoryInsertForm'>
		<div class="media">
			<div class="media-object">
				<% include ../category/categorySelector.ejs %>
				<input name="newTitle">
				<input type="submit" class="btn btn-default" value="insert">
			</div>
		</div>
	</form>
	<hr>
	<form id="categoryDeleteForm">
		<div class="media">
			<div class="media-object">
		 		<% include ../category/categorySelector.ejs %>
			</div>
			<input type="submit" class="btn btn-default" value="delete">
		</div>
	</form>	
	
</div>
