
<div id = 'blogBoard-postList' >
	<meta charset="utf-8">
	<!-- list  -->
	<div ng-repeat="post in posts"  
	     class="col-xs-12  col-sm-12 blogBoard-row" data-num="{{post.num}}">
	     
		<div class="col-xs-2 col-sm-2" style="padding:9px 0">
			<div >Votes <B>{{post.vote}}</B></div>
			<div >Answers <B>{{post.answerCount}}</B></div>
			<div >Views <B>{{post.readCount}}</B></div>
		</div>
		<div class="col-xs-10 col-sm-10" >
			<div class="row">
				<a class='blogBoard-detailView' 
				   ui-sref="app.blogBoard.detailEx({ 
				   								     postNum	:'{{ post.num }}'
											       , title		:'{{ U.title4web(post.title) }}'
											       })"> 
					<H2>{{post.title }}</H2>
				</a>
			</div>
			<div class='row'>
				<span class='pull-left'>
					<a class="blogCategory" ui-sref="app.blogBoard.list({categoryId:post.categoryId, pageNum:1})">
						{{list.titleByCategoryId(post.categoryId)}}
				    </a>
				</span>
				<div class='pull-right'>
					<img src='{{post.user.photo }}' class="img-circle" alt='img' style="width:20px">
					<span class="name"><a ui-sref="app.user.detail">{{post.user.name }}</a></span>
					<span class="date">{{ U.date(post.created)}}</span>
				</div>
			</div>
		</div>
	</div>	
</div>

