<!-- 부트스트랩 의존성 시작  -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon"
	href="../../../../resources/lib/bootstrap/assets/ico/favicon.ico">

<title>NodeBlog</title>

<!-- Bootstrap core,Boot-social fontaweSomeCSS -->
<link
	href="../../../../resources/lib/bootstrap/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="../../../../resources/lib/bootstrap/dist/css/bootstrap-social.css"
	rel="stylesheet">
<link
	href="../../../../resources/lib/fontAwesome/css/font-awesome.min.css"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../../../../resources/css/layout.css" rel="stylesheet">
</head>
<script src="../../../../resources/lib/jquery-2.0.0.min.js"></script>
<script
	src="../../../../resources/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- 부트스트랩 의존성 끝  -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">

		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Home</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
		</div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="row">
				<a class="navbar-btn btn btn-primary" >Sign In</a>
				 <div class="col-xs-12 col-md-3 pull-right">
				        <form class="navbar-form" role="search">
					        <div class="input-group col-xs-12">
					            <input type="text" class="form-control" placeholder="Search">
					            <div class="input-group-btn">
					                <button class="btn btn-primary" type="submit">Search</button>
					            </div>
					        </div>
				        </form>
				</div>
				<!-- /.navbar-collapse -->
				<ul class="nav navbar-nav navbar-left">
					<li><a href="#">Profile</a></li>
					<!--click하면 class="active" 추가  -->
					<li><a href="#">Board</a></li>
					<li><a href="#">GuestBook</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">etc <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">무엇을 만들까</a></li>
							<li class="divider"></li>
							<li class="divider"></li>
							<li class="divider"></li>
						</ul></li>
				</ul>
			</div>
		</div>		

	</div>
	<!-- /.navbar-collapse -->
	<!-- /.container-fluid -->

</nav>
