<!-- 부트스트랩 의존성 시작  -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../../../resources/lib/bootstrap/assets/ico/favicon.ico">

    <title>NodeBlog</title>

    <!-- Bootstrap core,Boot-social fontaweSomeCSS -->
    <link href="../../../../resources/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../../resources/lib/bootstrap/dist/css/bootstrap-social.css" rel="stylesheet">
    <link href="../../../../resources/lib/fontAwesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../../../resources/css/layout.css" rel="stylesheet">

  </head>
    <script src="../../../../resources/lib/jquery-2.0.0.min.js"></script>
    <script src="../../../../resources/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- 부트스트랩 의존성 끝  -->

<div class="container col-sm-4 hidden-xs">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">title</div>
		</div>
		<div class="panel-body">
			body
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">title</div>
		</div>
		<div class="panel-body">
			body
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">title</div>
		</div>
		<div class="panel-body">
			body
		</div>
	</div>	
</div>
