<meta charset="utf-8">
<div class='container col-sm-8 col-sm-offset-2'>

	<hr style='margin: 0; padding:0; border: thin dashed black'>
	<div data-toggle="collapse" data-target="#category">
		<a href="javascrip:">
			<h4>category&nbsp;&nbsp;&nbsp;<span class="caret"></span>
			</h4>
		</a>
	</div>
	<hr style='margin: 0; padding:0; border: thin dashed black'>
	<div class='row col-sm-offset-1 collapse in' id ="category">
		<div>
			<a href="javascrip:">
			<div>
				<h6>
					&nbsp;전체보기
					<span class="badge">111</span>
				</h6>
			</div>
			</a>
			<a href="javascrip:">
			<div data-toggle="collapse" data-target=".category-a">
				<h6>
					&nbsp;일상
					<span class="caret"></span>
					<span class="badge">111</span>
				</h6>
			</div>
			</a>
			
			
				<div class="collapse in category-a">
					<a href="javascrip:">
						<div>
							<h6>
								&nbsp;&nbsp;&nbsp;일상포함 1
								<span class="badge">111</span>
							</h6>
						</div>
			     	</a>
				</div>
				<div class="collapse in category-a">
					<a href="javascrip:">
						<div>
							<h6>
								&nbsp;&nbsp;&nbsp;일상포함 2
								<span class="badge">111</span>
							</h6>
						</div>
			     	</a>
				</div>
				
				
				
			<a href="javascrip:">
			<div data-toggle="collapse" data-target="#category-b">
				<h6>
					&nbsp;기록
					<span class="caret"></span>   
					<span class="badge">111</span>
				</h6>
			</div>
			</a>
		</div>
		
				
	</div>
</div>