<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/resources/lib/bootstrap/assets/ico/favicon.ico">

    <title>NodeBlog</title>

    <!-- Bootstrap core,Boot-social fontaweSomeCSS -->
    <link href="/resources/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/lib/bootstrap/dist/css/bootstrap-social.css" rel="stylesheet">
    <link href="/resources/lib/fontAwesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/resources/css/layout.css" rel="stylesheet">
    <link href="/resources/css/signin.css" rel="stylesheet">
    <%-stylesheets%>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/resources/lib/jquery/jquery-2.1.1.min.js"></script>
    <script src="/resources/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/resources/lib/underscore/underscore-min.js"></script>
    
  </head>

  <body>
	<!--   	nav-bar -->
    <div class="container  col-xs-12">
  		<% include ./topFrame/nav.ejs  %>
    </div>
	<!--  else  --> 	
    <div class="container  col-xs-12" id = 'centerFrame' >
    	<div class="col-sm-9 col-xs-12" id = 'contentFrame' >
	    	<!-- centerFrame -->
	    	<%- body -%>
	   	</div>
	   	<!--sideFrame  -->
		<div class="col-sm-3 hidden-xs">
			<% include ./sideFrame/sideLayout.ejs %>
		</div>	
    </div><!--/.container-->
    
    <div class="container  col-sm-12 hidden-xs">
	    <!-- footer -->
	    <hr>
   		<% include ./bottomFrame/footer.ejs %>    
    </div>
    
	
	<!-- 	user scripts -->
	<script src="/resources/js/util/htmlLoger.js"></script>
	<script src="/resources/js/namespace/$$namespace.js"></script>
	<script src="/resources/js/modules.js"></script>
	
	<%-scripts%>
  </body>
</html>
