<!DOCTYPE html>
<html ng-app="nodeblog">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
<!--     <link rel="shortcut icon" href="/resources/app/bower_components/bootstrap/assets/ico/favicon.ico"> -->

    <title>NodeBlog</title>

    <!-- Bootstrap core,Boot-social fontaweSomeCSS -->
    <link href="/resources/app/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/app/bower_components/bootstrap/dist/css/bootstrap-social.css" rel="stylesheet">
    <link href="/resources/app/bower_components/fontAwesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/resources/app/css/layout.css" rel="stylesheet">
    <link href="/resources/app/css/signin.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/resources/app/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/resources/app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/resources/app/bower_components/underscore/underscore-min.js"></script>
    <script src="/resources/app/bower_components/angular/angular.js"></script>
	<!-- 	user scripts -->
	<script data-main="/resources/app/requireConfig.js" src="/resources/app/bower_components/require/require.js"></script>
	<script src="/resources/app/app.js"></script>
	    
  </head>
  
  <body>
	<!--   	nav-bar -->
    <div class="container  col-xs-12">
  		<% include ./topFrame/nav.ejs  %>
    </div>
	<!--  else  --> 	
    <div class="container  col-xs-12" ng-view>
    
	   	<!--sideFrame  -->
		<div class="col-sm-3 hidden-xs">
			<% include ./sideFrame/sideLayout.ejs %>
		</div>	
    </div><!--/.container-->
    
    <div class="container  col-sm-12 hidden-xs">
	    <!-- footer -->
	    <hr>
   		<% include ./bottomFrame/footer.ejs %>    
    </div>
    
	

  </body>

</html>
