<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/resources/lib/bootstrap/assets/ico/favicon.ico">

    <title>NodeBlog</title>

    <!-- Bootstrap core,Boot-social fontaweSomeCSS -->
    <link href="/resources/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/lib/bootstrap/dist/css/bootstrap-social.css" rel="stylesheet">
    <link href="/resources/lib/fontAwesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/resources/css/layout.css" rel="stylesheet">
    <link href="/resources/css/signin.css" rel="stylesheet">
    <%-stylesheets%>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/resources/lib/jquery-2.0.0.min.js"></script>
    <script src="/resources/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    
  </head>

  <body>
	<!--   	nav-bar -->
    <div class="container  col-lg-12">
  		<% include ./common/nav.ejs  %>
    </div>
	<!--  else  --> 	
    <div class="container  col-lg-12">
    	<div class="row">
	    	<!-- center -->
			<%- body -%>
	   	</div>
    </div><!--/.container-->
    
    <div class="container  col-lg-12">
	    <!-- footer -->
	    <hr>
   		<% include ./common/footer.ejs %>    
    </div>
    
    
    <!-- signin hidden-->
	<% include ./blog/signin.ejs  %>
	
	<!-- 	user scripts -->
	<script src="/resources/js/namespace/$$nameSpace.js"></script>
	<script src="/resources/js/mainLayoutModules.js"></script>
	
	<%-scripts%>
  </body>
</html>
