<%
	var scriptletUtil = blog.scriptletUtil
	
	var loginUser = blog.loginUser
      , post = blog.post
	  , answers = post ? post.answers : blog.answers
%>

<div id = 'answer-div'>
<meta charset="utf-8">
<br>
<!----------- 댓글 리스트  -->
	<%
		scriptletUtil.treeEach(answers, 'answers', eachFn);
		function eachFn(answer, deep, hasChild, parentAnswer) {
			var user = answer.user
			  , offsetValue = (deep > 0) ? 1 : 0
			  , isFirstDeep = (deep == 0) ? true : false
	%>
			<!-- 	row -->
			<% if(isFirstDeep) { %> <hr>   <% } %>	
			<% include ./row.ejs %>
	
	<%				
		}
	%>
<!----------- 댓글 달기  -->
<hr>
<% include ./insert.ejs %>

</div>