<!----------- 댓글 달기
              새로운 스코프로 각 값들이 할당됨. 즉, 여기서 스코프에 할당된 값은 독립적.  
              answer 객체 전달.-->
<meta charset="utf-8">
<br>
<div class="col-sm-12">
	<div class="row">
		<div class="row">
			<div ng-if="$root.currentUser.isLogin" class="col-sm-1">
				<div class="media-object">
					<a ui-sref="app.user.detail({userId: $root.currentUser._id})">{{$root.currentUser.name }}</a>
				</div>
				<div class="media-object pull-left">
					<div><img ng-src='{{$root.currentUser.photo }}' alt='img' style="width:70px;padding:10px 0 0 0"></div>
				</div>
			</div>
			<div ng-if="!($root.currentUser.isLogin)" class="col-sm-2">
				<span class="label label-default">wrtier</span>
				<input ng-model="answer.writer" type='text' placeholder="writer">
				<span class="label label-default">password</span>
				<input ng-model="answer.password" type='text' placeholder="password" >
				<button ng-click="$root.showLoginView()"type='button' class="btn btn-success btn-xs">
					Log In
				</button>
			</div>
			<div class="col-sm-10">
				<div class="media-body">
					<textarea ng-model="answer.content" placeholder="content" style="height:100px;width:600px"
					></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<button ng-click="answerCtrl.upsert(answer)" class="col-sm-offset-4 btn btn-warn" >submit</button>
		<span class="col-sm-offset-2"></span>
		<button ng-if="answer.num != null || answer.answerNum > 0" ng-click="answerCtrl.toggleNestedUpsertView(answer)"  class="btn btn-warn">cancel</button>	
	</div>
</div>
