<meta charset="utf-8">

<select ng-model='text'>
	<option>wefwefewewf</option>
	<option tree-explorer root  = "categories" 
		 	childs-key		    = 'categories'
		 	node-name 			= 'category'
		 	selected="selected"
	>
	{{category.title}}
	</option>
</select>
<input type="text" name="text" value="{{ text}}" />

<!-- <select ng-model="text"> -->
<!-- 	<option>eee</option> -->
<!-- 	<option>eee222</option> -->
<!-- 	<option>eee33222</option> -->
<!-- </select> -->

<!-- <input type="text" name="text" value="{{ text }}" /> -->