
<div id = 'contentFrame' class="col-sm-9">
 	<!-- centerFrame -->
 	<% include ./blogBoard/list.ejs %>
</div>
 	<!--sideFrame  -->
<div class="col-sm-3 hidden-xs hidden-sm">
	<% include ../sideFrame/sideLayout.ejs %>
</div>	

 