/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
  magin : 0; padding : 0;
}
.board-row {
  border: thin solid blue;
}
/*
 * ´ñ±Û °ü·Ã
 * -----------------------------------------------
 */
.media-body textarea {
	width : 95%;
}
.media-body [class^="glyphicon-"] {
	color:#333;
	text-decoration : none;
}
.media-body .pull-right {
	margin-left: 1%;
}
