<meta charset="utf-8">
<div class="container col-sm-7 col-sm-offset-2">

	<div class="row">
			<a href="#">{{currentUser.name }}</a>
			<img src='{{currentUser.photo }}' alt='img' style="width:70px;padding:10px 0 0 0">
	</div>
	<hr>
	<div class="row">
		<form>
		<!-- 				여기가카테고리셀렉터 -->
			<div ui-view ='categorySelector'></div>
			<div class = "pull-left">
					<input ng-model = 'newCategoryTitle'  placeholder='childName'>
					<input ng-click="admin.insertCategory()" type='button' class="btn btn-default" value ="insert">
					<input ng-click="admin.updateCategory()" type='button' class="btn btn-default" value ="update">
					<input ng-click="admin.deleteCategory()" type='button' class="btn btn-default" value ="delete">
					{{selectedCategoryId}}
			</div>
		</form>
	</div>
	
	<hr>
	<form>
		<div class="media">
			<div class="media-object">
<!-- 				여기도 잘 반영되게.. 카테고리셀렉터 -->
		 		<input type="submit" class="btn btn-default" value="delete">
			</div>
			
		</div>
	</form>	
	
</div>
