<meta charset="utf-8">
<div>
<select name = "categoryId" class="selectpicker">
					<%
					
					var scriptletUtil = blog.scriptletUtil
					    rootOfCategoryTree = blog.rootOfCategoryTree 
					scriptletUtil.treeEach(rootOfCategoryTree, 'categories', eachFn);
					function eachFn(category, deep) {
						var space = scriptletUtil.repeatString('&nbsp;&nbsp;',deep)
						    title = space +category.title
						  , categoryId = category.id

					%>
					<option name="<%=categoryId%>" value="<%=categoryId%>" ><%=title%></option>	
					<%
					}
					%>
</select>
</div>		 		