
<meta charset="utf-8">
<div class="container col-sm-7 col-sm-offset-2">
	<div class="row">
		<table class="table">
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{currentUser._id }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{currentUser.name }}</td>
            </tr>
            <tr>
                <td>Photo</td>
                <td><img src = "{{ currentUser.photo }}" style='width:50px'> </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{currentUser.email }}</td>
            </tr>
            <tr>
                <td>Visit Count</td>
                <td>{{currentUser.visitCount }}</td>
            </tr>
            <tr>
                <td>Created</td>
                <td>{{ U.date(currentUser.created)}}</td>
            </tr>
        </tbody>
    	</table>
    	<div ng-if="currentUser.isLogin">
			<div class='pull-right'>
				<a ng-click='userCtrl.delete(currentUser._id)' class='btn btn-default'>leave</a>
			</div>
			<div class='pull-right'>
				<a ui-sref='app.user.update' class="btn btn-default span2" >update</a>
			</div>
		</div>
	</div>
</div>

