
<meta charset="utf-8">
<div class="container col-sm-7 col-sm-offset-2">
	<div class="row">
		<table class="table">
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{currentUser._id }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{currentUser.name }}</td>
            </tr>
            <tr>
                <td>Photo</td>
                <td><img src = "{{ currentUser.photo }}" style='width:50px'> </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{currentUser.email || '' }}</td>
            </tr>
            <tr>
                <td>Visit Count</td>
                <td>{{currentUser.visitCount }}</td>
            </tr>
            <tr>
                <td>Created</td>
                <td>{{ U.date(currentUser.created)}}</td>
            </tr>
        </tbody>
    	</table>
    	<p ng-if="currentUser.isLogin">
		<div class='pull-right'>
			<form ng-submit method='POST'>
				<button id='user-delete' type ='submit' class='btn btn-default'>leave</button>
			</form>
		</div>
		<div class='pull-right'>
			<a ui-sref='app.user.update' class="btn btn-default span2" >update</a>
		</div>
		</p>
	</div>
</div>

<script>
	(function confirmDelete() {
		$('#user-delete').click(function (e) {
			var isYes = confirm('Do you realy want to leave?')
			if(!isYes) return e.preventDefault()
			else 
				return;
		})
	})()
</script>
