<!-- 부트스트랩 의존성 시작  -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../../../resources/lib/bootstrap/assets/ico/favicon.ico">

    <title>NodeBlog</title>

    <!-- Bootstrap core,Boot-social fontaweSomeCSS -->
    <link href="../../../../resources/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../../resources/lib/bootstrap/dist/css/bootstrap-social.css" rel="stylesheet">
    <link href="../../../../resources/lib/fontAwesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../../../resources/css/layout.css" rel="stylesheet">
  </head>
    <script src="../../../../resources/lib/jquery-2.0.0.min.js"></script>
    <script src="../../../../resources/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- 부트스트랩 의존성 끝  -->


<!----------- 댓글 리스트  -->
<!-- Nested media object -->
<div class="media">
	<a class="pull-left" href="#"> 
		<img class="media-object" src="http://placehold.it/64x64">
	</a>
	<div class="media-body">
		<span class="name"><a href="#">방문자</a></span>
		<span class="date">2013/01/13 22:27</span>
		<a href="#" class="pull-right" rel="tooltip" data-placement="top" data-original-title="삭제">
			<i class="glyphicon glyphicon-remove"></i>
		</a>
		<a type="button" data-toggle="collapse" data-target="#demo2" class="pull-right" rel="tooltip" data-placement="top" data-original-title="댓글 달기">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
			scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in
			vulputate at, tempus viverra turpis.
		</p>
		<div id="demo2" class="collapse">
			<textarea type="text" class="" rows="3" placeholder="댓글을 입력하세요."></textarea>
		</div>
	</div>
</div>
