<!-- 부트스트랩 의존성 시작  -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../../../resources/lib/bootstrap/assets/ico/favicon.ico">

    <title>NodeBlog</title>

    <!-- Bootstrap core,Boot-social fontaweSomeCSS -->
    <link href="../../../../resources/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../../resources/lib/bootstrap/dist/css/bootstrap-social.css" rel="stylesheet">
    <link href="../../../../resources/lib/fontAwesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../../../resources/css/layout.css" rel="stylesheet">
  </head>
    <script src="../../../../resources/lib/jquery-2.0.0.min.js"></script>
    <script src="../../../../resources/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- 부트스트랩 의존성 끝  -->

<div class="container-fluid">
			      <form class="navbar-form  hidden-xs" role="search">
		        <div class="form-group input-append">
		          <input type="text" class="form-control" placeholder="Search">
		        </div>
		        <button type="submit" class="btn btn-primary">Submit</button>
		      </form>
</div>

<!-- 긴블럭 -->
<div class="col-sm-4 social-buttons">
	<a class="btn btn-block btn-social btn-facebook" href="/auth/facebook">
		<i class="fa fa-facebook"></i> Sign in with Facebook
	</a>
	<a class="btn btn-block btn-social btn-twitter"  href="/auth/twitter">
	  <i class="fa fa-twitter"></i> Sign in with Twitter
	</a>
	<a class="btn btn-block btn-social btn-github" href="/auth/github">
      <i class="fa fa-github"></i> Sign in with GitHub
	</a>
	 <a class="btn btn-block btn-social btn-google-plus" href="/auth/google">
		<i class="fa fa-google-plus"></i> Sign in with Google
	</a>
	<a class="btn btn-block btn-social btn-linkedin" href="/auth/linkedin">
		<i class="fa fa-linkedin"></i> Sign in with LinkedIn
	</a>
</div>
<div class="col-sm-4 social-buttons">
          <h3>The Buttons</h3>
          <a class="btn btn-block btn-social btn-adn" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-adn']);">
            <i class="fa fa-adn"></i> Sign in with App.net
          </a>
          <a class="btn btn-block btn-social btn-bitbucket" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-bitbucket']);">
            <i class="fa fa-bitbucket"></i> Sign in with Bitbucket
          </a>
          <a class="btn btn-block btn-social btn-dropbox" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-dropbox']);">
            <i class="fa fa-dropbox"></i> Sign in with Dropbox
          </a>

          <a class="btn btn-block btn-social btn-flickr" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-flickr']);">
            <i class="fa fa-flickr"></i> Sign in with Flickr
          </a>
          <a class="btn btn-block btn-social btn-foursquare" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-foursquare']);">
            <i class="fa fa-foursquare"></i> Sign in with Foursquare
          </a>
         
          <a class="btn btn-block btn-social btn-instagram" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-instagram']);">
            <i class="fa fa-instagram"></i> Sign in with Instagram
          </a>
          
          <a class="btn btn-block btn-social btn-reddit" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-reddit']);">
            <i class="fa fa-reddit"></i> Sign in with Reddit
          </a>
          <a class="btn btn-block btn-social btn-soundcloud" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-soundcloud']);">
            <i class="fa fa-soundcloud"></i> Sign in with SoundCloud
          </a>
          <a class="btn btn-block btn-social btn-tumblr" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-tumblr']);">
            <i class="fa fa-tumblr"></i> Sign in with Tumblr
          </a>

          <a class="btn btn-block btn-social btn-vimeo" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-vimeo']);">
            <i class="fa fa-vimeo-square"></i> Sign in with Vimeo
          </a>
          <a class="btn btn-block btn-social btn-vk" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-vk']);">
            <i class="fa fa-vk"></i> Sign in with VK
          </a>
          <a class="btn btn-block btn-social btn-yahoo" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-yahoo']);">
            <i class="fa fa-yahoo"></i> Sign in with Yahoo!
          </a>

        </div>  
  
<!-- 작은 아이콘 -->
          <hr>

          <div class="text-center">
            <a class="btn btn-social-icon btn-adn" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-adn']);"><i class="fa fa-adn"></i></a>
            <a class="btn btn-social-icon btn-bitbucket" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-bitbucket']);"><i class="fa fa-bitbucket"></i></a>
            <a class="btn btn-social-icon btn-dropbox" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-dropbox']);"><i class="fa fa-dropbox"></i></a>
            <a class="btn btn-social-icon btn-facebook" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-facebook']);"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-social-icon btn-flickr" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-flickr']);"><i class="fa fa-flickr"></i></a>
            <a class="btn btn-social-icon btn-foursquare" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-foursquare']);"><i class="fa fa-foursquare"></i></a>
            <a class="btn btn-social-icon btn-github" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-github']);"><i class="fa fa-github"></i></a>
            <a class="btn btn-social-icon btn-google-plus" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-google-plus']);"><i class="fa fa-google-plus"></i></a>
            <a class="btn btn-social-icon btn-instagram" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-instagram']);"><i class="fa fa-instagram"></i></a>
            <a class="btn btn-social-icon btn-linkedin" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-linkedin']);"><i class="fa fa-linkedin"></i></a>
            <a class="btn btn-social-icon btn-reddit" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-reddit']);"><i class="fa fa-reddit"></i></a>
            <a class="btn btn-social-icon btn-soundcloud" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-soundcloud']);"><i class="fa fa-soundcloud"></i></a>
            <a class="btn btn-social-icon btn-tumblr" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-tumblr']);"><i class="fa fa-tumblr"></i></a>
            <a class="btn btn-social-icon btn-twitter" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-twitter']);"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-social-icon btn-vimeo" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-vimeo']);"><i class="fa fa-vimeo-square"></i></a>
            <a class="btn btn-social-icon btn-vk" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-vk']);"><i class="fa fa-vk"></i></a>
            <a class="btn btn-social-icon btn-yahoo" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-yahoo']);"><i class="fa fa-yahoo"></i></a>
          </div>