<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">

		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Home</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
		</div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="row">
				<button class="col-xs-12 col-sm-1 navbar-btn btn btn-success pull-right" data-toggle="modal" data-target=".bs-modal-login">Sign In</button>
				 <div class="col-xs-12 col-sm-4 pull-right">
				        <form class="navbar-form" role="search">
					        <div class="input-group col-xs-12">
					            <input type="text" class="form-control" placeholder="Search">
					            <div class="input-group-btn">
					                <button class="btn btn-primary" type="submit">Search</button>
					            </div>
					        </div>
				        </form>
				</div>
				<!-- /.navbar-collapse -->
				<ul class="nav navbar-nav navbar-left">
					<li><a href="#">Profile</a></li>
					<!--click하면 class="active" 추가  -->
					<li><a href="#">Board</a></li>
					<li><a href="#">GuestBook</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">etc <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">무엇을 만들까</a></li>
							<li class="divider"></li>
							<li class="divider"></li>
							<li class="divider"></li>
						</ul></li>
				</ul>
			</div>
		</div>		

	</div>
	<!-- /.navbar-collapse -->
	<!-- /.container-fluid -->

</nav>

