<div class="col-lg-4 hidden-xs hidden-sm pull-right" id="side_frame">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">title</div>
		</div>
		<div class="panel-body">
			body
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">title</div>
		</div>
		<div class="panel-body">
			body
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">title</div>
		</div>
		<div class="panel-body">
			body
		</div>
	</div>	
</div>