	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">title</div>
		</div>
		<div class="panel-body">
			body
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">title</div>
		</div>
		<div class="panel-body">
			body
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">title</div>
		</div>
		<div class="panel-body">
			body
		</div>
	</div>	
