<div class="col-sm-offset-1" id = 'blogBoard-listView'>
	<meta charset="utf-8">
	
	
	 	<% 
		var loginUser = blog.loginUser
		if(!loginUser.isAnnoymous()) {
		%>
		<div class="row col-sm-11">
			<a id ='blogBoard-insertView' class="btn btn-default pull-right" href="javascript:">입력</a>
		</div>	
		<%	
			}
		%>
		<!-- taps -->
		<% include ./tab.ejs %>
		<!-- postList -->
		<% include ./post/list.ejs %>
		<!-- pager (inclue pager  -->	
		<% include ./pager.ejs %>
	

	
</div>
 