<div id = 'blogBoard-listView'>
	<meta charset="utf-8">
	<!-- taps -->
	<% include ./tab.ejs %>
	
	<!-- postList -->
	<% include ./post/list.ejs %>
	<!-- pager (inclue pager  -->	
	<% include ./pager.ejs %>
	
</div>
 