<div class="col-lg-8" id="center_frame">
	<meta charset="utf-8">
	<!----------- 글 리스트  -->
	<!-- Nested media object -->
	<%
		var pager = blog.getPager()
		  , post4Webs = blog.getPost4Webs();
	%>
	
	<%
		
		for(var post4Web in post4Webs) {
			var post = post4Web.getPost()
			  , user = post4Web.getUser()
			  , answerCount = post4Web.getAnswerCount();
			  
	%>

	<div class="row">
		
		<a class="pull-left" href="#"> 
			<img src='<%=user.photo %>' class="img-circle" alt='img' style="width:20px">
		</a>
		<div class="media-body">
			<span class="name"><a href="#"><%=user.name %></a></span>
			<span class="date"><%=post.created %></span>
			<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
				scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in
				vulputate at, tempus viverra turpis.
			</p>
		</div>
	</div>	
	<%					
		}
	%>
	<div class="row">
		<a class="btn btn-defulat span2" id='insert'>입력</a>
		<a class="btn btn-defulat span2">삭제</a>
		<a class="btn btn-defulat span2">수정</a>
	</div>
</div>