<!--nav의 siginin 버튼과 modal class이름 일치시켜야함  -->

<!-- Small modal -->
<div class="modal fade bs-modal-login" tabindex="-1" role="dialog"
	aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<a class="btn btn-block btn-social btn-github" href="/auth/github">
		      <i class="fa fa-github"></i> Sign in with GitHub
			</a>
			<a class="btn btn-block btn-social btn-facebook" href="/auth/facebook">
				<i class="fa fa-facebook"></i> Sign in with Facebook
			</a>
			<a class="btn btn-block btn-social btn-twitter"  href="/auth/twitter">
			  <i class="fa fa-twitter"></i> Sign in with Twitter
			</a>
			 <a class="btn btn-block btn-social btn-google-plus" href="/auth/google">
				<i class="fa fa-google-plus"></i> Sign in with Google
			</a>
			<a class="btn btn-block btn-social btn-linkedin" href="/auth/linkedin">
				<i class="fa fa-linkedin"></i> Sign in with LinkedIn
			</a>
		</div>
	</div>
</div>

