<% layout('../layout.ejs') -%>


<meta charset="utf-8">
<div class="container col-sm-7 col-sm-offset-2">
	<!-- 관리자용 탭  -->
	<div class="row">
		<div class="btn-default">
			<a href="/admin"><h3>관리자</h3></a> <!--post로바꾸고 ..  -->
		</div>
	</div>
	<!-- 유저를 위한 나머지 기능  -->
	<div class="row">
		
	</div>
</div>
