
<div class="col-lg-10" style="margin:0 0 0 20px">
<meta charset="utf-8">

<!-- blog insert form -->
<%
	var loginUser = blog.loginUser;
%>
 <form action="/blogBoard/insert" method="post"  name="writeForm" class="form-horizontal"  id='blogBoard-insertForm'  role="form">
   <div class="form-group">
      <label class="col-sm-2 control-label">
         <p class='pull-left'>Id</p>
      </label>
      <div class="col-sm-10">
         <input name="userId" type="text" 
         value="<%= loginUser._id%>" style="display:none">
         <%= loginUser._id%>
      </div>
   </div>
   <div class="form-group">
      <label class="col-sm-2 control-label"><p class='pull-left'>category</p></label>
      <div class="col-sm-10">
         <% include ../../../part/categorySelector.ejs %>
      </div>
   </div>
   <div class="form-group">
      <label class="col-sm-2 control-label"><p class='pull-left'>Title</p></label>
      <div class="col-sm-10">
         <input class="form-control" name="title" type="text"
            placeholder="title"  >
      </div>
   </div>
   <div class="form-group">
      
      <% include ../../../../resources/lib/editor/editor.ejs %>
      <textarea class="col-sm-12" name="content"></textarea><!--/textarea로 닫지않으면 아래 태그가 이상해짐  -->	
   </div>
   <div class="form-group">
	    <label class="col-sm-2 control-label">File input</label>

		<div class="col-sm-10">
			<input type="file" id= 'blogBoard-insertFile' data-userId='<%= loginUser._id%>'>
		    <input type="text" id="blogBoard-fileInfoesString" name='fileInfoesString' style="display:none">
		</div>      	    
		<textarea class='col-sm-offset-2 col-sm-10 row' id='blogBoard-fileUrlsView' style='height:70px' disabled></textarea>
	    
   </div>
   
   <button type="submit" class="btn btn-default pull-right">Submit</button>
</form>
</div>

