<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/resources/lib/bootstrap/assets/ico/favicon.ico">

    <title>NodeBlog</title>

    <!-- Bootstrap core,Boot-social fontaweSomeCSS -->
    <link href="/resources/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/lib/bootstrap/dist/css/bootstrap-social.css" rel="stylesheet">
    <link href="/resources/lib/fontAwesome/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css"> 
		div {background-color: grey}  
	</style> 
    <!-- Custom styles for this template -->
    <link href="/resources/css/layout.css" rel="stylesheet">
  </head>

  <body>
	<!--   	nav-bar -->
    <div class="container">
  		<% include ./common/nav.ejs  %>
    </div>
	<!--  else  --> 	
    <div class="container">
    	<div class="row">
	    	<!-- center -->
			<div class="col-lg-8">
				<%- body %>
			</div>
			<!-- sidebar -->
			<div class="col-lg-8 hidden-xs">
				<% include ./common/sidebar.ejs %>
			</div>
	   	</div>
    </div><!--/.container-->
    
    <div class="container">
	    <!-- footer -->
	    <hr>
   		<% include ./common/footer.ejs %>    
    </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/resources/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/resources/js/layout.js"></script>
  </body>
</html>
