<div class="col-sm-offset-1 " id = 'blogBoard-listView'>
	<meta charset="utf-8">

		<div ng-if="app.user.isLogin" class="row">
			<a id ='blogBoard-insertView' class="btn btn-default col-xs-offset-10" href="javascript:">입력</a>
		</div>	
		<!-- taps -->
		<div ng-view="tab" class="col-sm-11 col-xs-12"></div>
		<div class="col-sm-11 col-xs-12"></div>
		<div class="col-sm-11 col-xs-12"></div>
		<% include ./tab.ejs %>
		<!-- postList -->
		<% include ./post/list.ejs %>
		<!-- pager (inclue pager  -->	
		<% include ./pager.ejs %>
	

	
</div>
 